@import './reset.scss';

@mixin text ($color:none,$weight:none,$size:none,$line:none){
    color:$color;
    font-weight: $weight;
    font-size: $size;
    line-height: $line;
}

$colorOne: hsl(217, 19%, 35%);
$colorTwo:hsl(210, 46%, 95%);
$radius: 10px;
$WeH:300px;
$ImgWH:40px;
$ImgTwoWH:18px;